<h2>Registration</h2>
<form action="<%= users_path %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label for="name">Name</label>
  <input class='form-control' type="text" name="user[name]" placeholder='Name'><br><br>

  <label for="email">Email</label>
  <input class='form-control' type="email" name="user[email]" placeholder='Email'><br><br>

  <label for="password">Password</label>
  <input class='form-control' type="password" name="user[password]" placeholder='Password'><br><br>

  <label for="password_confirmation">Password Confirmation</label>
  <input class='form-control' type="password" name="user[password_confirmation]" placeholder='Password Confirmation'><br><br>

  <input class='btn btn-primary' type="submit" value="Register">
</form>

<p>Already a user? <a href='<%= new_session_path %>'><button>Log In</button></a></p>
